.modal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  background-color: #e0e5ea;
  font-size: $text-size;
  color: $color-grey;
  position: relative;

  &__text {
    text-align: center;

    &_margin {
      margin-bottom: 20px;
      text-align: left;
    }
  }

  &__window {
    max-width: 600px;
    background-color: $modal-background;
    padding: 30px 40px;
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &__window-cross {
    position: absolute;
    top: 5px;
    right: 2%;
    padding: 0 5px;
    padding-bottom: 2px;
    font-size: 0.9em;
    line-height: 0.9em;
    border: 1px solid $color-grey;
    cursor: pointer;
    
    &:hover {
      background-color: $color-grey;
      color: $modal-background;
    }
  }

  &__input {
    position: absolute;
    left: -9999px;

    &:checked {
      & ~ .modal__window {
        display: block;
        animation: click 1s ease;
      }
    }
  }

  &__label {
    background-color: $modal-background;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #182c5d;
    }
  }
}

@keyframes click {
  0% {
    transform:translate(-50%, 0) scale(0.5);
  }

  100% {
    transform:translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-width:1000px) {
  .modal {
    font-size: 1.3em;
  }
}

@media screen and (max-width:700px) {
  .modal {
    font-size: 1.1em;

    &__window{
      padding: 30px 20px;
    }
  }
}

@media screen and (max-width:450px) {
  .modal {
    font-size: 0.9em;
  }
}

@media screen and (max-width:340px) {
  .modal {
    font-size: 0.65em;
  }
}

